:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 800px;
  margin: 0 auto;
  background: #eaf1fb;
  overflow: hidden;
}
.menu {
  position: relative;
  width: 1440px;
  height: 70px;
  margin: 0 0 0 0;
  font-size: 0px;
  background: #ffffff;
  overflow: hidden;
}
.imangali-sd {
  display: block;
  position: relative;
  height: 17px;
  margin: 28px 0 0 1216px;
  color: #ffffff;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 16.915px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.group {
  position: absolute;
  width: 1440px;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 1;
}
.rectangle {
  position: absolute;
  width: 1440px;
  height: 70px;
  top: 0;
  left: 0;
  background: #2f2f2f;
  z-index: 2;
}
.layer {
  position: absolute;
  width: 123.645px;
  height: 41.892px;
  top: 50%;
  left: 50%;
  transform: translate(-485.26%, -59.68%);
  z-index: 3;
}
.group-1 {
  position: absolute;
  width: 100%;
  height: 41.892px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 4;
}
.flex-row-aa {
  position: relative;
  width: 123.645px;
  height: 34.71px;
  margin: 0 0 0 0;
  z-index: 7;
}
.teacher {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 88.23%;
  top: 0;
  left: 23.17%;
  color: #1885c2;
  font-family: Futura, var(--default-font-family);
  font-size: 27.059804916381836px;
  font-weight: 700;
  line-height: 30.625px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.t {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 95.79%;
  top: 4.21%;
  left: 4.27%;
  color: #e0e0e0;
  font-family: Futura, var(--default-font-family);
  font-size: 29.16207504272461px;
  font-weight: 700;
  line-height: 33.25px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.vector {
  position: absolute;
  width: 20.99%;
  height: 65.41%;
  top: 9.86%;
  left: 0;
  background-size: 100% 100%;
  z-index: 6;
}
.forge {
  display: block;
  position: relative;
  height: 12.25px;
  margin: -5.067px 0 0 36.041px;
  color: #1885c2;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 14.470703125px;
  font-weight: 300;
  line-height: 12.25px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 5.21px;
  z-index: 8;
}
.group-2 {
  position: absolute;
  width: 67.2px;
  height: 28px;
  top: 21px;
  left: 1344.801px;
  background-size: cover;
  z-index: 12;
}
.frame {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 80px;
  position: absolute;
  width: 226px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-69.91%, -50%);
  z-index: 9;
}
.schools {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #eaeaea;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 19.9px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.appeals {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #1885c2;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 19.9px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.mail-for-appeals {
  display: block;
  position: relative;
  height: 31px;
  margin: 47px 0 0 300px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 31.592302322387695px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.rectangle-3 {
  position: relative;
  width: 887px;
  height: 605px;
  margin: 47px 0 0 277px;
  background: #ffffff;
  z-index: 14;
  overflow: visible auto;
  border-radius: 10px 10px 0 0;
}
.flex-row-e {
  position: relative;
  width: 827px;
  height: 20.005px;
  margin: 18px 0 0 23px;
  z-index: 122;
}
.vector-4 {
  position: absolute;
  width: 2.29%;
  height: 94.64%;
  top: 0;
  left: 12.61%;
  background-size: 100% 100%;
  z-index: 114;
}
.vector-5 {
  position: absolute;
  width: 1.93%;
  height: 90%;
  top: 10%;
  left: 98.07%;
  background-size: 100% 100%;
  z-index: 122;
}
.rectangle-6 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 0;
  border: 1px solid #515151;
  z-index: 17;
}
.vector-7 {
  position: absolute;
  width: 2.06%;
  height: 69.98%;
  top: 20%;
  left: 88.27%;
  background-size: 100% 100%;
  z-index: 120;
}
.vector-8 {
  position: absolute;
  width: 2.06%;
  height: 69.98%;
  top: 20%;
  left: 92.26%;
  background-size: 100% 100%;
  z-index: 119;
}
.grommet-icons-update {
  position: absolute;
  width: 14.199px;
  height: 14.199px;
  top: 4.522px;
  left: 42px;
  z-index: 111;
  overflow: hidden;
}
.vector-9 {
  position: relative;
  width: 14.199px;
  height: 14.199px;
  margin: 0 0 0 0;
  background-size: 100% 100%;
  z-index: 112;
}
.group-a {
  position: absolute;
  width: 1.83%;
  height: 68.14%;
  top: 22.6%;
  left: 8.7%;
  background-size: 100% 100%;
  z-index: 113;
}
.text-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 5px;
  left: 622px;
  color: #8a8a8a;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.805543899536133px;
  font-weight: 400;
  line-height: 11.747px;
  text-align: left;
  white-space: nowrap;
  z-index: 121;
}
.vector-b {
  position: absolute;
  width: 2.39%;
  height: 67.03%;
  top: 27.6%;
  left: 16.72%;
  background-size: 100% 100%;
  z-index: 116;
}
.rectangle-c {
  position: relative;
  width: 864.934px;
  height: 45.929px;
  margin: 23.995px 0 0 10.922px;
  background: #ffffff;
  z-index: 19;
  overflow: visible auto;
  border-radius: 18.481px;
  box-shadow: 0 0 6.16px 0 rgba(0, 0, 0, 0.18);
}
.flex-row-da {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 693px;
  height: 12px;
  margin: 27px 0 0 50.078px;
  z-index: 25;
}
.vko-almaty-ul-chehova {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.text-content {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.flex-row-a {
  position: absolute;
  width: 334px;
  height: 28px;
  top: 8px;
  left: 50.078px;
  z-index: 26;
}
.saken-amir-renatovich {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.line {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 0;
  left: 246px;
  background-size: cover;
  z-index: 26;
}
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 268px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 835px;
  height: 16px;
  top: 15px;
  left: 12.078px;
  z-index: 24;
}
.rectangle-d {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #9c9b9b;
  z-index: 20;
}
.date {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.961678504943848px;
  font-weight: 400;
  line-height: 11.902px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.rectangle-e {
  position: relative;
  width: 864.934px;
  height: 45.929px;
  margin: 7.071px 0 0 10.922px;
  background: #eaeaea;
  z-index: 28;
  overflow: visible auto;
  border-radius: 18.481px;
  box-shadow: 0 0 6.16px 0 rgba(0, 0, 0, 0.18);
}
.flex-row-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 693px;
  height: 12px;
  margin: 27px 0 0 50.078px;
  z-index: 34;
}
.vko-almaty-ul-chehova-f {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.text-content-10 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.flex-row-f-11 {
  position: absolute;
  width: 334px;
  height: 28px;
  top: 8px;
  left: 50.078px;
  z-index: 35;
}
.saken-amir-renatovich-12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 0;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.line-13 {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 0;
  left: 246px;
  background-size: cover;
  z-index: 35;
}
.title-14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 268px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.flex-row-af {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 835px;
  height: 16px;
  top: 15px;
  left: 12.078px;
  z-index: 33;
}
.rectangle-15 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #9c9b9b;
  z-index: 29;
}
.date-16 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.961678504943848px;
  font-weight: 400;
  line-height: 11.902px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.rectangle-17 {
  position: relative;
  width: 864.934px;
  height: 45.929px;
  margin: 7.071px 0 0 10.922px;
  background: #ffffff;
  z-index: 37;
  overflow: visible auto;
  border-radius: 18.481px;
  box-shadow: 0 0 6.16px 0 rgba(0, 0, 0, 0.18);
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 693px;
  height: 12px;
  margin: 27px 0 0 50.078px;
  z-index: 43;
}
.vko-almaty-ul-chehova-18 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.text-content-19 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.flex-row-1a {
  position: absolute;
  width: 334px;
  height: 28px;
  top: 8px;
  left: 50.078px;
  z-index: 44;
}
.saken-amir-renatovich-1b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.line-1c {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 0;
  left: 246px;
  background-size: cover;
  z-index: 44;
}
.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 268px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.flex-row-f-1d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 835px;
  height: 16px;
  top: 15px;
  left: 12.078px;
  z-index: 42;
}
.rectangle-1e {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #9c9b9b;
  z-index: 38;
}
.date-1f {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.961678504943848px;
  font-weight: 400;
  line-height: 11.902px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.rectangle-20 {
  position: relative;
  width: 864.934px;
  height: 45.929px;
  margin: 7.071px 0 0 10.922px;
  background: #a2ddff;
  z-index: 46;
  overflow: visible auto;
  border-radius: 18.481px;
  box-shadow: 0 0 6.16px 0 rgba(0, 0, 0, 0.18);
}
.flex-row-21 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 693px;
  height: 12px;
  margin: 27px 0 0 50.078px;
  z-index: 52;
}
.address {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.text-content-22 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}
.flex-row-ab {
  position: absolute;
  width: 334px;
  height: 28px;
  top: 8px;
  left: 50.078px;
  z-index: 53;
}
.person-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.line-23 {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 0;
  left: 246px;
  background-size: cover;
  z-index: 53;
}
.header-24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 268px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.flex-row-25 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 835px;
  height: 16px;
  top: 15px;
  left: 12.078px;
  z-index: 51;
}
.rectangle-26 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #515151;
  z-index: 47;
}
.checkmark {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 2px 0 0 2px;
  z-index: 63;
  overflow: hidden;
}
.vector-27 {
  position: relative;
  width: 9px;
  height: 6.155px;
  margin: 2.845px 0 0 1.5px;
  background-size: 100% 100%;
  z-index: 64;
}
.date-28 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.961678504943848px;
  font-weight: 400;
  line-height: 11.902px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.rectangle-29 {
  position: relative;
  width: 864.934px;
  height: 45.929px;
  margin: 7.071px 0 0 10.922px;
  background: #ffffff;
  z-index: 55;
  overflow: visible auto;
  border-radius: 18.481px;
  box-shadow: 0 0 6.16px 0 rgba(0, 0, 0, 0.18);
}
.flex-row-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 693px;
  height: 12px;
  margin: 27px 0 0 50.078px;
  z-index: 61;
}
.address-2a {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.text-content-2b {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 59;
}
.flex-row-ffa {
  position: absolute;
  width: 334px;
  height: 28px;
  top: 8px;
  left: 50.078px;
  z-index: 62;
}
.person-info-2c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 57;
}
.line-2d {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 0;
  left: 246px;
  background-size: cover;
  z-index: 62;
}
.header-2e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 268px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}
.flex-row-f-2f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 835px;
  height: 16px;
  top: 15px;
  left: 12.078px;
  z-index: 60;
}
.rectangle-30 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #9c9b9b;
  z-index: 56;
}
.date-31 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.961678504943848px;
  font-weight: 400;
  line-height: 11.902px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.rectangle-32 {
  position: relative;
  width: 864.934px;
  height: 45.929px;
  margin: 7.071px 0 0 10.922px;
  background: #ffffff;
  z-index: 66;
  overflow: visible auto;
  border-radius: 18.481px;
  box-shadow: 0 0 6.16px 0 rgba(0, 0, 0, 0.18);
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 693px;
  height: 12px;
  margin: 27px 0 0 50.078px;
  z-index: 72;
}
.span-vko-almaty-ul-chehova {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}
.span-text {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 70;
}
.flex-row-cb {
  position: absolute;
  width: 334px;
  height: 28px;
  top: 8px;
  left: 50.078px;
  z-index: 73;
}
.span-saken-amir-renatovich {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}
.line-33 {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 0;
  left: 246px;
  background-size: cover;
  z-index: 73;
}
.span-zagolovok {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 268px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.flex-row-fd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 835px;
  height: 16px;
  top: 15px;
  left: 12.078px;
  z-index: 71;
}
.rectangle-34 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #9c9b9b;
  z-index: 67;
}
.span-date {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.961678504943848px;
  font-weight: 400;
  line-height: 11.902px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}
.rectangle-35 {
  position: relative;
  width: 864.934px;
  height: 45.929px;
  margin: 7.071px 0 0 10.922px;
  background: #ffffff;
  z-index: 75;
  overflow: visible auto;
  border-radius: 18.481px;
  box-shadow: 0 0 6.16px 0 rgba(0, 0, 0, 0.18);
}
.flex-row-bdf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 693px;
  height: 12px;
  margin: 27px 0 0 50.078px;
  z-index: 81;
}
.span-vko-almaty-ul-chehova-36 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.span-text-37 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 79;
}
.flex-row-be {
  position: absolute;
  width: 334px;
  height: 28px;
  top: 8px;
  left: 50.078px;
  z-index: 82;
}
.span-saken-amir-renatovich-38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 77;
}
.line-39 {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 0;
  left: 246px;
  background-size: cover;
  z-index: 82;
}
.span-zagolovok-3a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 268px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 78;
}
.flex-row-dc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 835px;
  height: 16px;
  top: 15px;
  left: 12.078px;
  z-index: 80;
}
.rectangle-3b {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #9c9b9b;
  z-index: 76;
}
.span-date-3c {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.961678504943848px;
  font-weight: 400;
  line-height: 11.902px;
  text-align: left;
  white-space: nowrap;
  z-index: 80;
}
.rectangle-3d {
  position: relative;
  width: 864.934px;
  height: 45.929px;
  margin: 7.071px 0 0 10.922px;
  background: #ffffff;
  z-index: 84;
  overflow: visible auto;
  border-radius: 18.481px;
  box-shadow: 0 0 6.16px 0 rgba(0, 0, 0, 0.18);
}
.flex-row-d-3e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 693px;
  height: 12px;
  margin: 27px 0 0 50.078px;
  z-index: 90;
}
.span-vko-almaty-ul-chehova-3f {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
.span-text-40 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 88;
}
.flex-row-c-41 {
  position: absolute;
  width: 334px;
  height: 28px;
  top: 8px;
  left: 50.078px;
  z-index: 91;
}
.span-saken-amir-renatovich-42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 86;
}
.line-43 {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 0;
  left: 246px;
  background-size: cover;
  z-index: 91;
}
.span-zagolovok-44 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 268px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 87;
}
.flex-row-a-45 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 835px;
  height: 16px;
  top: 15px;
  left: 12.078px;
  z-index: 89;
}
.rectangle-46 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #9c9b9b;
  z-index: 85;
}
.dot-dot-dot {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.961678504943848px;
  font-weight: 400;
  line-height: 11.902px;
  text-align: left;
  white-space: nowrap;
  z-index: 89;
}
.rectangle-47 {
  position: relative;
  width: 864.934px;
  height: 45.929px;
  margin: 7.071px 0 0 10.922px;
  background: #ffffff;
  z-index: 93;
  overflow: visible auto;
  border-radius: 18.481px;
  box-shadow: 0 0 6.16px 0 rgba(0, 0, 0, 0.18);
}
.flex-row-fce {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 693px;
  height: 12px;
  margin: 27px 0 0 50.078px;
  z-index: 99;
}
.vko-almaty-ul-chehova-48 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 99;
}
.text-text-text {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 97;
}
.flex-row-49 {
  position: absolute;
  width: 334px;
  height: 28px;
  top: 8px;
  left: 50.078px;
  z-index: 100;
}
.saken-amir-renatovich-4a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 95;
}
.line-4b {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 0;
  left: 246px;
  background-size: cover;
  z-index: 100;
}
.zagolovok {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 268px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.flex-row-df {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 835px;
  height: 16px;
  top: 15px;
  left: 12.078px;
  z-index: 98;
}
.rectangle-4c {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #9c9b9b;
  z-index: 94;
}
.dot-dot-dot-4d {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.961678504943848px;
  font-weight: 400;
  line-height: 11.902px;
  text-align: left;
  white-space: nowrap;
  z-index: 98;
}
.rectangle-4e {
  position: relative;
  width: 864.934px;
  height: 45.929px;
  margin: 7.071px 0 0 10.922px;
  background: #ffffff;
  z-index: 102;
  overflow: visible auto;
  border-radius: 18.481px;
  box-shadow: 0 0 6.16px 0 rgba(0, 0, 0, 0.18);
}
.vko-almaty-ul-chehova-4f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 693px;
  height: 12px;
  margin: 27px 0 0 50.078px;
  z-index: 108;
}
.text-text-text-50 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 108;
}
.flex-row-cb-51 {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 106;
}
.saken-amir-renatovich-52 {
  position: absolute;
  width: 334px;
  height: 28px;
  top: 8px;
  left: 50.078px;
  z-index: 109;
}
.line-53 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 104;
}
.zagolovok-54 {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 0;
  left: 246px;
  background-size: cover;
  z-index: 109;
}
.flex-row-edc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 268px;
  color: #000000;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 12.559762001037598px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 105;
}
.rectangle-55 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 835px;
  height: 16px;
  top: 15px;
  left: 12.078px;
  z-index: 107;
}
.dot-dot-dot-56 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #9c9b9b;
  z-index: 103;
}
.text-3a {
  flex-shrink: 0;
  position: relative;
  height: 12px;
  color: #515151;
  font-family: HelveticaNeueCyr, var(--default-font-family);
  font-size: 11.961678504943848px;
  font-weight: 400;
  line-height: 11.902px;
  text-align: left;
  white-space: nowrap;
  z-index: 107;
}
