.reports-page-container {
  margin: auto 0;
  padding: auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Исправлено с 'end' на 'center' для горизонтального центрирования */
  margin: auto;
  width: 100%;
  min-height: 100vh; /* Используйте min-height для заполнения всей видимой высоты */
  background-image: url('/src/constant/image/background_psychologist.svg'); /* Убедитесь, что путь верный */
  background-size: cover; /* Заполняет весь доступный контейнер, сохраняя пропорции изображения */
  background-attachment: fixed; /* Фоновое изображение остается неподвижным при прокрутке */
  background-position: center center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Предотвращает повторение изображения */
  overflow-x: hidden;
}

.reports-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 0;
  z-index: 2;
}

.disciplinary-report-search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.table-container{
min-width: 1000px;
background-color: white;
padding: 20px;
border-radius: 10px;
display: flex;
flex-direction: column;
width: 75%;
}

.table-search-bar-container{
display: flex;
flex-direction: row;
}

.disciplinary-report-table .ant-table-thead > tr > th {
  background-color: #ffffff;
  color: black;
  font-weight: 500;
}

.disciplinary-report-table .ant-table-tbody > tr > td {
  background-color: #ffffff;
  color: black;
}

.disciplinary-report-table .ant-table-tbody > tr > td:last-child {
  display: flex;
  justify-content: center;

}
.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
  width: 100%;
}
