.create-test-container{
    background-image: url('../../../constant/image/background_test.svg'); /* Убедитесь, что путь верный */
    background-size: cover; /* Заполняет весь доступный контейнер, сохраняя пропорции изображения */
    background-attachment: fixed; /* Фоновое изображение остается неподвижным при прокрутке */
    background-position: center center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Предотвращает повторение изображения */
    overflow-x: hidden;
    min-height: 600px;
    min-width: 1000px;
    padding-bottom: 40px;
}